<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>FlaskTaskr - A Flask App</title>
  <!-- styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
  <header class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">FlaskTaskr</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if not session.logged_in %}
          <li class="nav-item {% if request.path == '/' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('users.login') }}">Login{% if request.path == '/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item {% if request.path == '/register/' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('users.register') }}">Signup{% if request.path == '/register/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% endif %}
        </ul>
        {% if session.logged_in %}
        <span class="navbar-text">
          Welcome, <span class="font-weight-bold">{{username}}</span>.
        </span>
        <a class="nav-link" href="{{ url_for('users.logout') }}">Sign out</a>
        {% endif %}
      </div>
    </div>
  </header>

  <main class="container">
    <div class="content">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-success">{{ message }}</div>
      {% endfor %}

      {% if error %}
      <div class="alert alert-danger"><strong>Error:</strong> {{ error }}</div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </main>

  <footer class="text-muted">
    <div class="container">
      <hr>
      <p class="float-right"><a href="https://github.com/zuzhi/flasktaskr">View on GitHub</a></p>
      <p>&copy; <a href="https://github.com/zuzhi">zuzhi</a></p>
    </div>
  </footer>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>