{% extends "_base.html" %}

{% block title %}

Join FlaskTaskr · FlaskTaskr

{% endblock %}


{% block content %}

<form method="POST" action="" novalidate>
  <h2>Join FlaskTaskr</h2>
  <p class="lead">Create your personal account</p>
  {{ form.csrf_token }}
  <div class="form-group">
    <label for="name">Username</label>
    {{ form.name(placeholder="", class_="form-control col-md-4", id="name", required="required") }}
    {% if form.name.errors %}
    <div class="invalid-feedback d-block">
      {% for error in form.name.errors %}
        {{error}}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    {{ form.email(placeholder="", class_="form-control col-md-4", id="email", required="required") }}
    {% if form.email.errors %}
    <div class="invalid-feedback d-block">
      {% for error in form.email.errors %}
        {{error}}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{ form.password(placeholder="", class_="form-control col-md-4", id="password", required="required") }}
    {% if form.password.errors %}
    <div class="invalid-feedback d-block">
      {% for error in form.password.errors %}
        {{error}}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="confirm">Confirm your password</label>
    {{ form.confirm(placeholder="", class_="form-control col-md-4", id="confirm", required="required") }}
    {% if form.confirm.errors %}
    <div class="invalid-feedback d-block">
      {% for error in form.confirm.errors %}
        {{error}}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <button class="btn btn-primary" type="submit">Create an account</button>
  <small id="formHelpBlock" class="form-text text-muted">
    <em>Already registered?</em> Click <a href="/">here to sign in</a>.
  </small>
</form>

{% endblock %}
