{% extends "_base.html" %}
{% block content %}

<form action="{{ url_for('tasks.new_task') }}" method="post" class="inline-form">
  <h3>Create a new task</h3>
  <p class="lead">A task contains name, due date and priority</p>
  {{ form.csrf_token }}
  <div class="form-group">
    <label for="name">Task name</label>
    {{ form.name(placeholder="", class_="form-control col-md-3", id="name", required="required") }}
    {% if form.name.errors %}
    <div class="invalid-feedback">
      {% for error in form.name.errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="due_date">Due date (MM/DD/YYYY)</label>
    {{ form.due_date(placeholder="", class_="form-control col-md-3", id="dueDate", required="required") }}
    {% if form.due_date.errors %}
    <div class="invalid-feedback">
      {% for error in form.due_date.errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    {{ form.priority(placeholder="priority", class_="form-control col-md-3", id="priority", required="required") }}
    {% if form.priority.errors %}
    <div class="invalid-feedback">
      {% for error in form.priority.errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <button class="btn btn-primary" type="submit">Create task</button>
</form>
<div class="entries mt-4">
  <p class="mb-2">
    <span class="f4 text-bold">Open tasks</span>
  </p>
  <table class="table table-responsive table-borderless">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Due Date</th>
        <th>Posted Date</th>
        <th>Priority</th>
        <th>Posted By</th>
        <th>Actions</th>
      </tr>
    </thead>
    {% for task in open_tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.due_date }}</td>
      <td>{{ task.posted_date }}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.poster.name }}</td>
      <td>
        {% if task.poster.name == session.name or session.role == "admin" %}
        <a href="{{ url_for('tasks.delete_entry', task_id = task.task_id) }}" class="text-danger">Delete</a>  -
        <a href="{{ url_for('tasks.complete', task_id = task.task_id) }}" class="text-success">Mark as complete</a>
        {% else %}
        <span>N/A</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="entries mt-4">
  <p class="mb-2">
    <span class="f4 text-bold">Closed tasks</span>
  </p>
  <table class="table table-responsive table-borderless">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Due Date</th>
        <th>Posted Date</th>
        <th>Priority</th>
        <th>Posted By</th>
        <th>Actions</th>
      </tr>
    </thead>
    {% for task in closed_tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.due_date }}</td>
      <td>{{ task.posted_date }}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.poster.name }}</td>
      <td>
        {% if task.poster.name == session.name or session.role == "admin" %}
        <a href="{{ url_for('tasks.delete_entry', task_id = task.task_id) }}" class="text-danger">Delete</a>
        {% else %}
        <span>N/A</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}